main {
  background-color: #f8f8f8;
}

@media (min-width: 600px) {
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 3.75vw);
    min-height: calc(100svh - 3.75vw);
    min-height: calc(100svh - 3.75vw);
  }
}

@media (min-width: 1200px) {
  main {
    width: calc(100vw - 45px);
    min-height: calc(100svh - 45px);
    min-height: calc(100svh - 45px);
  }
}

section {
  position: relative;
  min-height: calc(100svh - 16px);
  min-height: calc(100svh - 16px);
  background-color: black;
  color: #ffffff;
}

@media (min-width: 600px) {
  section {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: initial;
    transform: translate(-50%, -50%);
    padding-top: 5vw;
    padding-right: 7.5vw;
    padding-bottom: 5vw;
    padding-left: 7.5vw;
  }
}

@media (min-width: 1200px) {
  section {
    padding-top: 60px;
    padding-right: 90px;
    padding-bottom: 60px;
    padding-left: 90px;
  }
}

section div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
}

@media (min-width: 600px) {
  section div {
    position: initial;
    top: unset;
    left: unset;
    transform: none;
    width: auto;
  }
}

h1 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 6vw;
  font-family: "Work Sans", sans-serif;
  font-size: 10vw;
  font-weight: 500;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  h1 {
    margin-bottom: 0;
    font-size: 4.25vw;
  }
}

@media (min-width: 1200px) {
  h1 {
    margin-top: 10px;
    font-size: 51px;
  }
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

li {
  margin-top: 7vw;
  font-family: "Work Sans", sans-serif;
  font-size: 6vw;
  font-weight: 300;
  letter-spacing: 0.05vw;
}

@media (min-width: 600px) {
  li {
    margin-top: 1.5vw;
    font-size: 1.83vw;
    letter-spacing: 0.08vw;
  }
}

@media (min-width: 1200px) {
  li {
    margin-top: 18px;
    font-size: 22px;
    letter-spacing: 1px;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 1px #ffffff;
  padding-bottom: 4px;
  transition: 0.5s opacity ease-in-out;
}

@media (min-width: 600px) {
  a {
    padding-bottom: 0.3vw;
  }
}

@media (min-width: 1200px) {
  a {
    padding-bottom: 4px;
  }
}

@media (min-width: 600px) {
  a:hover {
    opacity: 0.6;
  }
}
