*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: 'TruenoRegular';
}

section {
  display: flex;
  align-items: center;
  padding: 1em;
}

h1 {
  font-size: 3em;
  display: inline;
}

a {
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container p {
  position: relative;
}

#arrow {
  opacity: 0;
  color: white;
  font-size: 2em;
  position: absolute;
  transform: rotate(10deg);
  transition: opacity .5s ease;
  text-decoration: none;
  padding-left: 5px;
}

#arrow.animate {
  opacity: 1;
}

.intro {
  background-color: #0A31D2;
  color: white;
}

.about,
.work {
  color: #0A31D2;
  background-color: white;
}

.intro,
.about {
  height: 100vh;
}

.about p a,
.work a h2 {
  color: #0A31D2;
  text-decoration: none;
  border-bottom: 3px solid #0A31D2;
}

.about p a:hover,
.work a h2:hover {
  border-bottom: 3px solid #FC402F;
}

.work a {
  text-decoration: none;
  font-size: 1.5em;
}

.work a h2 {
  display: inline-block;
}

.work img {
  max-width: 100%;
  border: 1px solid #D2D2D2;
  display: block;
}

.work p {
  font-size: 1em;
  color: #2c3e50;
  width: 100%;
}

@media (min-width: 1024px) {
  .work p {
    width: 40%;
  }
}

.resume {
  display: inline-block;
  color: #FC402F;
  text-decoration: none;
  border: solid 3px #FC402F;
  border-radius: 5px;
  padding: 5px;
}

footer {
  color: white;
  background-color: #0A31D2;
  text-align: center;
  font-size: 1.4em;
}

footer i {
  margin: .5em;
}

footer a {
  color: white;
}

footer a:hover {
  color: #FC402F;
}


@media (min-width: 560px) {
  h1 {
    font-size: 5em;
  }

  .intro p,
  .about p {
    font-size: 1.5em;
  }
}

@media (min-width: 780px) {

  h1 {
    font-size: 6em;
  }

  .container {
    width: 80%;
  }

  #arrow {
    font-size: 4em;
    top: -8px;
  }

  .intro p,
  .about p {
    font-size: 1.75em;
  }

  .work {
    margin-bottom: 3.5em;
  }

  .project {
    margin-top: 5em;
  }

  footer {
    font-size: 2em;
  }

}

@font-face {
  font-family: 'TruenoRegular';
  font-style: normal;
  font-weight: 400;
  src:
    local('TruenoRegular'),
    url('/fonts/truenorg-webfont.woff2') format('woff2'),
    url('/fonts/truenorg-webfont.woff') format('woff');
}
