html {
	height: 100%;
}

body {
	font-family: 'Quicksand', sans-serif;
  background: url('../images/pink_power.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  height: 100%;
}

.home {
  background: url('../images/flower_2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.information-container {
  max-width: 570px;
	background-color: rgba(255, 255, 255, .6);
  display: table-cell;
  height: 100%;
  padding: 2em;
  text-align: center;
}

h1 {
	text-transform:  uppercase;
	font-weight: bolder;
	font-size: 3.5em;
	margin-bottom: .5em;
}

h2 {
	font-size: 1.5em;
	margin-bottom: .5em;
}

.fa {
	font-size: 3em;
}

ul {
	padding-left: 0;
	margin-bottom: 0;
}

li {
	display: inline;
	padding-right: 1.5em;
}

.fa-github {
	color: #2c3e50;
}

.fa-linkedin-square {
	color: #2980b9;
}

.fa-instagram {
	color: #34495e;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navigation {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.more-info {
  border: solid black 1px;
  padding: .5em;
  cursor: pointer;
}

.first {
  margin-right: 2em;
}

.last {
  padding-right: 0;
}

/* Modal */

.about {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 0; 
  display: none;
}

.about-content {
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.4;
  font-size: 24px;
}

@media (min-height: 800px) {
  h1 {
    padding-top: .5em;
    font-size: 4.5em;
  }

  .about {
    position: fixed;
  }

  .information-container {
    padding-top: 10em;
  }

  .about-content {
    margin-top: 2em;
  }
}

.about-content h1 {
  border-bottom: solid #ebebeb 1px;
  padding-bottom: .5em;
}

.about.is-open {
  display: block;
}

.close {
  cursor: pointer;
  font-size: 36px;
  margin-top: 1em;
}

.close:hover {
  color: #fccbcf;
}

.download {
  font-weight: 100;
  font-size: .75em;
  padding-bottom: .25em;
  border-bottom: solid gray 1px;
}

.work {
  background-color: rgba(255, 255, 255, .6);
  margin-right: auto;
  margin-left: auto;
  padding: 2em;
}

@media (min-width: 1000px) {
  .work {
    width: 40%;
  }

  .about-content {
    padding: 3em;
  }
}

img {
  border: solid black 1px;
}

.title {
  padding-top: 0;
  padding-bottom: .5em;
  text-align: center;
  border-bottom: solid gray 1px;
}

.content {
  margin-bottom: 5em;
}

pre {
  text-align: left;
  white-space: pre-line;
}

.work img {
  width: 100%;
}

.back-home {
  border: solid black 1px;
  padding: .75em;
  text-align: center;
  display: block;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}